/* new.css */

body {
  font-family: 'Arial', sans-serif; /* Apply Arial font to the entire body */
  background: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white; /* Set default text color */
}

.wrap {
  text-align: center; /* Center align text */
  padding: 20px;
}

h1 {
  font-size: 4.5em;
  margin-bottom: 20px;
}

.postcard {
  width: 800px;
  height: 500px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
  transform: rotate(2.5deg);
  transition: all 0.5s ease;
}

.postcard1 {
  width: 800px;
  height: 500px;
  background: #f594b862;
  position: absolute;
  left: 24%;
  filter: blur(2px);
  z-index: -1;
  margin: 0 auto;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
  transform: rotate(2.5deg);
  transition: all 0.5s ease;
}

.postcard:hover,
.postcard:active,
.postcard:focus {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}

.mail_stamp {
  width: 100px;
  float: right;
}

footer {
  margin: 2em auto;
  text-align: center;
  color: white;
}

footer p {
  font-size: 1em;
  letter-spacing: 1px;
}

p {
  font-size: 22px;
  margin: 0;
}

span {
  font-size: 25px;
  color: #800020;
  text-shadow: 0 0 20px rgb(255, 255, 255);
}
